################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/TSST_MPLS/v16
/CableCloud/bin/
/CableCloud/obj/
/ClientNode/bin/
/ClientNode/obj/
/RouterNode/bin/
/RouterNode/obj/
/ToolsLibrary/bin/
/ToolsLibrary/obj/